---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';
import { createGenericPageSchema, siteUrl } from '~/utils/schema';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const schema = createGenericPageSchema({
  name: `Blog${currentPage > 1 ? ` — Strona ${currentPage}` : ''}`,
  url: currentPage > 1 ? `${siteUrl}/blog/strona/${currentPage}` : `${siteUrl}/blog`,
  description: 'Blog z wiadomościami, poradnikami i zasobami o fotografii eventowej i nie tylko.',
  breadcrumbItems: [
    { position: 1, name: 'Strona główna', item: siteUrl },
    { position: 2, name: 'Blog' },
  ],
});

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <script type="application/ld+json" set:html={JSON.stringify(schema)} />
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="Blog z wiadomościami, poradnikami, zasobami i innymi ciekawostkami związanymi z fotografią eventową"
    >
      Blog
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
